body{
    height: 100%;
    width: 100%;

}

#container{
    height: 800px;
    width: 70%;
    margin: auto;
    background-color: darkseagreen;
}

#header {
    width: 100%;
    height: 20%;
    background-color: darksalmon;
}

#content {
    height: 60%;
    width: 100%;
    background-color: darkslateblue;

}

#footer {
    height: 20%;
    width: 100%;
    background-color: darkturquoise;

}